<%= form_for @sake do |f| %>
  <h3><%= t('.name') %></h3>
  <div class="form-group">
    <%= f.label :name_ja %>
    <%= f.text_field :name_ja %>

    <% if @sake.errors[:name_ja].any? %>
      <%= error_feedback(object: @sake, attribute: :name_ja) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name_hiragana %>
    <%= f.text_field :name_hiragana %>
  </div>

  <div class="form-group">
    <%= f.label :name_en %>
    <%= f.text_field :name_en %>

    <% if @sake.errors[:rname_en].any? %>
      <%= error_feedback(object: @sake, attribute: :name_en) %>
    <% end %>
  </div>

  <h3><%= t('.sake_type') %></h3>
  <div class="form-group">
    <%= f.label :sake_type_ja %>
    <%= f.text_field :sake_type_ja %>
  </div>

  <div class="form-group">
    <%= f.label :sake_type_en %>
    <%= f.text_field :sake_type_en %>
  </div>

  <div class="form-group">
    <%= f.label :grade %>
    <%= f.select(:grade, sake_grades_for_select, include_blank: true) %>

    <% if @sake.errors[:grade].any? %>
      <%= error_feedback(object: @sake, attribute: :grade) %>
    <% end %>
  </div>

  <h3><%= t('activerecord.models.brewery') %></h3>
  <div class="form-group">
    <%= f.label :brewery_id, t('.choose_brewery') %>
    <%= f.collection_select(:brewery_id, @breweries, :id, :localized_name, include_blank: true) %>

    <% if @sake.errors[:brewery_id].any? %>
      <%= error_feedback(object: @sake, attribute: :brewery_id) %>
    <% end %>
  </div>

  <%= f.submit t('.submit'), class: "button btn-regular" %>
<% end %>
