<h1><%= t('.title') %></h1>

<%= form_for @sake do |f| %>
  <h3><%= t('.name') %></h3>
  <div class="form-group">
    <%= f.label :japanese_name %>
    <%= f.text_field :japanese_name %>
  </div>
  
  <div class="form-group">
    <%= f.label :hiragana_name %>
    <%= f.text_field :hiragana_name %>
  </div>

  <div class="form-group">
    <%= f.label :romanized_name %>
    <%= f.text_field :romanized_name %>
  </div>
  
  <div class="form-group">
    <%= f.label :brewery_id, t('activerecord.models.brewery') %>
    <%= f.collection_select(:brewery_id, @breweries, :id, :localized_name, include_blank: true) %>
  </div>
  
  <div class="form-group">
    <%= f.label :grade %>
    <%= f.select(:grade, sake_grades_for_select, include_blank: true) %>
  </div>
  
  <div class="form-group">
    <%= f.label :sake_type %>
    <%= f.text_field :sake_type %>
  </div>
  
  <%= f.submit t('.add'), class: "button btn-regular"  %>
<% end %>
