<h1><%= @sake.localized_name %></h1>

<%= render partial: "sakes/details", locals: { sake: @sake } %>

<div class="brewery"><%= t('.brewed_by_html', brewery_link: (link_to @sake.brewery.localized_name, brewery_path(@sake.brewery)))%></div>

<% if @current_user_tasting_note %>
  <section id="current-user-tasting-note">
    <h2><%= t('.my_tasting_note') %></h2>

    <%= render partial: 'tasting_notes/tasting_note', locals: { tasting_note: @current_user_tasting_note } %>
  </section>
<% elsif logged_in? %>
  <%= link_to t('.add_note'), new_user_tasting_note_path(current_user, sake_id: @sake.id), class: "button btn-regular add-note" %>
<% end %>

<% unless @other_user_tasting_notes.empty? %>
  <section id="current-user-tasting-note">
    <h2><%= @current_user_tasting_note ? t('.other_notes') : t('.all_notes') %></h2>

    <% @other_user_tasting_notes.each do |tasting_note| %>
      <%= render partial: 'tasting_notes/tasting_note', locals: { tasting_note: tasting_note } %>
    <% end %>
  </section>
<% end %>

<div class="list-link">
  <%= link_to t('.back'), sakes_path %>
</div>

<% if logged_in? %>
  <div class="current_user_links">
    <%= link_to t('.edit_html'), edit_sake_path(@sake) %>
  </div>
<% end %>