<div class="card sake-card">
  <div class="title">
    <%= link_to note.sake.localized_name, sake_path(note.sake), class: "localized-name" %>

    <% if I18n.locale == :en %>
      <span class="japanese-name"><%= note.sake.japanese_name + note.sake.sake_type_japanese %></span>
    <% end %>
  </div>
  
  <%= render partial: "sakes/details", locals: { tasting_note: note } %>

  <div class="tasting-note">
    <div class="rating">
      <span class="rating-label"><%= t('tasting_note.rating', scope: 'activerecord.attributes') %></span>
      <span class="rating-value"><%= note.rating %></span>
    </div>
    <div class="comment">
      <%= note.comment %>
      <%= link_to t('.note_link'), user_tasting_note_path(user, note) %>
    </div>
  </div>
</div>