<div class="card sake-card">
  <div class="title">
    <%= link_to tasting_note.sake.localized_name, sake_path(tasting_note.sake), class: "localized-name" %>
  </div>
  
  <%= render partial: "sakes/details", locals: { sake: tasting_note.sake } %>

  <div class="tasting-note">
    <div class="rating">
      <span class="rating-label"><%= t('activerecord.attributes.tasting_note.rating') %></span>
      <span class="rating-value"><%= tasting_note.rating %></span>
    </div>
    <div class="comment">
      <%= tasting_note.comment if tasting_note.comment %>
      <%= link_to t('.note_link'), user_tasting_note_path(user, tasting_note) %>
    </div>
  </div>
</div>