<%= form_for [@user, @tasting_note] do |f| %>
  <div class="form-group">
    <%= f.label :sake_id, t('.sake_label') %>
    <%= f.collection_select(:sake_id, @sakes, :id, :localized_name, include_blank: true) %>

    <% if @tasting_note.errors[:sake_id].any? %>
      <%= error_feedback(object: @tasting_note, attribute: :sake_id) %>
    <% end %>
  </div>

  <div class="form-group" id="rating">
    <%= f.label :rating %>
    <%= f.range_field :rating, in: 1..5 %>
    <div class="range_values">
      <% 1.upto(5) do |value| %>
        <span><%= value %></span>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: 10 %>
  </div>

  <%= f.submit t('.submit'), class: "button btn-regular" %>
<% end %>
