<div id="tasting-note">
  <div class="content">
    <div class="rating">
      <span class="rating-label"><%= t('tasting_note.rating', scope: 'activerecord.attributes') %></span>
      <span class="rating-value"><%= tasting_note.rating %></span>
    </div>
    <div class="comment">
      <%= tasting_note.comment %>
    </div>
  </div>
  <div class="meta">
    <% if tasting_note.user == current_user %>
      <span class="created"><i class="fas fa-calendar-day"></i> <%= t('.created_at') %> <%= tasting_note.created_at.strftime( t('date_format')) %></span>
    <% else %>
      <span class="user"><i class="fas fa-user-circle"></i> <%= tasting_note.user.username %></span>
    <% end %>
  </div>
</div>