<h1><%= t('activerecord.models.tasting_note') %></h1>

<h2><%= link_to @tasting_note.sake.localized_name, sake_path(@tasting_note.sake) %></h2>

<%= render partial: "sakes/details", locals: { sake: @tasting_note.sake } %>

<%= render partial: "tasting_note", locals: { tasting_note: @tasting_note } %>

<% if logged_in? && current_user == @tasting_note.user %>
  <div class="current_user_links">
    <%= link_to t('.edit_html'), edit_user_tasting_note_path(@tasting_note.user, @tasting_note) %>
    
    <div id="delete">
      <%= link_to t('.delete_html'), user_tasting_note_path(@tasting_note.user, @tasting_note), method: :delete, data: { confirm: t('.delete_confirmation') } %>
    </div>
  </div>
<% end %>
