<div class="title-header">
  <h1><%= t('.title') %></h1>
  <%= link_to t('.add_html'), new_brewery_path, class: "button btn-add" %>
</div>

<!--
<% @locations.each do |location| %>
  <% if location.breweries.any? %>
    <h2><%= location.localized_name %></h2>

    <% location.breweries.each do |brewery| %>
      <%= render partial: 'brewery', locals: { brewery: brewery } %>
    <% end %>
  <% end %>
<% end %>
-->

<div id="breweries-list">
  <p id="loading"><%= t('loading') %></p>
</div>

<script id="brewery-template" type="text/x-handlebars-template">
  <div class="card brewery-card">
    <div class="title">
      <a class="localized-name" href="/breweries/{{id}}">{{localizedName}}</a>
    </div>
    
    <div class="brewery-details">
      <span class="location"><i class="fas fa-globe-asia"></i> {{localizedLocation}}</span>
      <% if I18n.locale == :ja %>
        <span class="hiragana-name"><i class="fas fa-language"></i> {{hiraganaName}}</span> 
      <% else %>
        <span class="japanese-name"><i class="fas fa-language"></i> {{japaneseName}}</span>
      <% end %>
    </div>
  </div>
</script>

