<title>Ochoko</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% if I18n.locale == :ja %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700&amp;subset=japanese" %>
<% else %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" %>
<% end %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<%= stylesheet_link_tag "/assets/locales/#{I18n.locale}" %>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->